img {
	width: 100%;
	height: 100%;
}

#WIN{
	color:red;
	font-size: 500px;
	background-color: black;
	position: absolute;
	visibility: hidden;
}

#FIND{
	color:red;
	font-size: 1px;
	background-color: black;
	position: absolute;
	opacity: 0;
}